import Object from "../core/object";

import { default as Workflow } from "./{{flow.codeKey}}";

{% set form_enabled = false if flow.name === 'cli' else flow.parent.context.atom.doc.features.form_enabled %}

{% set form_enabled = false if flow.definition.features.server === true else form_enabled %}

{% if form_enabled %}
import { App } from "{{ui.package}}";
{% endif %}

export default class Engine extends Object {

    #main;
    {% if form_enabled %}
    #app;
    #appOwner;
    {% endif %}

    constructor(context) {
        super(context);

        this.#main = new Workflow({ engine: this });

        {% if form_enabled %}   
        this.#app =context?.app || new App();
        this.#appOwner = !!context?.app;
        {% endif %}
    }

    async #init(context) {
        {% if form_enabled %}
        await this.#initApp(context);
        {% endif %}
    }

    {% if form_enabled %}
    
    async #initApp(context) {
        const container = context.params?.container;
        await this.#app.init({ container });
    }
    
    async setActiveForm(context) {
        const form = context.form;
        const props = context.props;

        await this.#app.setActiveForm({form,props});
    }

    get app(){
        return this.#app;
    }

    {% endif %}
    
    // Main entry function to run workflow
    async run(params) {

        {% if flow.parent.context.atom.doc.features.print_steps %}
        console.log(new Date().toLocaleString(),'{{ flow.parent.context.atom.doc.title or flow.parent.context.atom.doc.name }}');
        {% endif %}

        await this.#init({ params });

        const response = await this.#main.run({ params });

        return response?.value;
    }

    async destroy() {
        {% if form_enabled %}
        if (this.#appOwner) {
            await this.#app.destroy();
        }
        {% endif %}
    }
}