{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

{% include "src/default/macros/block-library-header.js.njk" %}

{% include "src/default/macros/block-modules-header.js.njk" %}

export default function Block(context){

  {% include "src/default/macros/block-body-header.js.njk" %}
  
  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{

      try{
        {% include "src/default/macros/block-run-header.js.njk" %}

        {% include "src/default/macros/page.js.njk" %}

        {% include "src/default/macros/block-modules.js.njk" %}

        {% if context.next and context.transform.operation==='wait-for-next' %}
          flow.waitForNext({
            key:'{{indexKey}}',
            next: new Promise((resolve,reject) => {
                {% include "src/default/macros/block-next.js.njk" %}
            })
          });
        {% endif %}
        
        {% if context.lib.type==='atom'%}
          const lib=LIBRARY;
        {% elseif context.lib.type==='subworkflow' %}
          const lib={{context.lib.codeKey}};
        {% elseif target.atom.protocol==='use:' %}
          const lib={{context.transform.call}};
        {% else %}
          const lib=undefined; 
          throw new Error('Couldn file lib.');
        {% endif %}

        {% if context.lib.atom.doc.subtype==='workflow'%}
          const Workflow=lib;
          const workflow=new Workflow({app:engine.app,caller:c});
          const callLib = workflow.run.bind(workflow);
        {% elseif context.lib.type==='subworkflow'%}
          const Workflow=lib;
          const workflow=new Workflow({engine,flow,caller:c});
          const callLib = workflow.run.bind(workflow);
        {% else %}
          const callLib = lib;
        {% endif %}

        {% if context.transform.args %}
          {% if context.lib.type==='subworkflow' %}
            const callArgs ={ params: {{ context.transform.args | safe }} };
          {% else %}
            const callArgs ={{ context.transform.args | safe }} ;
          {% endif %}

          const result = Array.isArray(callArgs)?  await callLib.apply(_this,callArgs): await callLib.call(_this,callArgs);

        {% else %}
          const result = await callLib.call(_this);
        {% endif %}

        {% for assign in context.transform.result %}
          flow.set({{assign.key | safe}},{{assign.value | safe}});
        {% endfor%}

        {% if context.transform.return %}
          resolve({type:'return',value: {{context.transform.return | safe}}});
        {% elseif context.next and context.transform.operation!=='wait-for-next'%}
          {% include "src/default/macros/block-next.js.njk" %}
        {% elseif not context.next%}
          resolve();
        {% endif %}
      }
      catch(error){
          reject(error);
      }
    });
  }

  Object.freeze(this); 
}

{% include "src/default/macros/block-footer.js.njk" %}