
{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

{% include "src/default/macros/block-modules-header.js.njk" %}

{% if childs.length %}
  {% if not childs[0].definition.dynamic %}
    // FIRST CHILD: {{childs[0].indexKey}}
    import {{childs[0].codeKey}} from "./{{childs[0].codeKey}}";
  {% endif %}
{% endif%}

export default function Block(context) {

  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{
                  
      {% include "src/default/macros/block-run-header.js.njk" %}
      
      {% include "src/default/macros/page.js.njk" %}
      
      {% include "src/default/macros/block-modules.js.njk" %}

      {% if childs.length %}
        {% if childs[0].definition.dynamic %}
          // FIRST CHILD: {{childs[0].indexKey}}
          const { default: {{childs[0].codeKey}} } = await import("./{{childs[0].codeKey}}");
        {% endif %}
      {% endif%}

      for await(const {{context.transform.for.value | safe}} of {{context.transform.for.in | safe}}){
        c.for={ {{context.transform.for.value | safe}} };

        {% if childs.length %}
          let current= new {{childs[0].codeKey}}({ parent:_this, engine, flow, caller:c  });
          let currentArgs=args;

          do {
            
            {% if workflow.parent.context.atom.doc.features.print_runners %}
              console.log(new Date().toLocaleString(),' * ',_this.constructor.IndexKey,' -> ',current.constructor.IndexKey);
            {% endif %}

            const nextBlock= typeof currentArgs==='undefined'? await current.run() 
              : Array.isArray(currentArgs)? await current.run.apply(current,currentArgs) : await current.run.call(current, currentArgs) ;

            if(nextBlock?.type==='return') return resolve(nextBlock);
            else if(nextBlock?.type!=='block') break;

            if(nextBlock.toType.ParentTypeId!==_this.constructor.TypeId)
              return resolve(nextBlock);

            current=new nextBlock.toType({ parent:_this, engine, flow, caller:c});
            currentArgs=nextBlock.withArgs;
            
          } while(true);
            
        {% endif %}
      }

      {% if context.transform.return %}
        resolve({type:'return',value: {{context.transform.return | safe}}});
      {% elseif context.next %}
        {% include "src/default/macros/block-next.js.njk" %}
      {% else %}
        resolve();
      {% endif %}
    });
  }    

  Object.freeze(this); 
}

{% include "src/default/macros/block-footer.js.njk" %}