import React from "react";

{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

{% include "src/default/macros/block-library-header.js.njk" %}

{% include "src/default/macros/block-modules-header.js.njk" %}

export default function Block(context){
    
  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{

      try{
        {% include "src/default/macros/block-run-header.js.njk" %}
        
        {% include "src/default/macros/page.js.njk" %}

        {% include "src/default/macros/block-modules.js.njk" %}
        
        flow.waitForNext({
          key:'{{indexKey}}',
          next: async () => {
            {% if context.transform.return %}
              resolve({type:'return',value: {{context.transform.return | safe}}});
            {% elseif context.next %}
              {% include "src/default/macros/block-next.js.njk" %}
            {% else %}
              resolve();
            {% endif %}
          }
        });
        
        {% if context.lib.type==='atom'%}
          const formLib=LIBRARY;
        {% elseif context.lib.type==='subworkflow' %}
          const formLib={{context.lib.codeKey}};
        {% else %}
          const formLib=undefined; 
          throw new Error('Couldnt find form.');
        {% endif %}

        {% include "src/default/macros/block-run-form.js.njk" %}
        
        {% if context.transform.operation==='continue-for-next' %}
          flow.continueForNext({key:'{{indexKey}}'});
        {% endif %}
      }
      catch(error){
        reject(error);                
      }
    });
  } 

  Object.freeze(this);    
}

{% include "src/default/macros/block-footer.js.njk" %}