{% include "src/default/macros/block-header.js.njk" %}

{% include "src/default/macros/block-next-header.js.njk" %}

{% include "src/default/macros/block-modules-header.js.njk" %}

export default function Block(context){

  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{

      try{
        {% include "src/default/macros/block-run-header.js.njk" %}

        {% include "src/default/macros/page.js.njk" %}

        {% if context.next and context.transform.operation==='wait-for-next' %}
        flow.waitForNext({
          key:'{{indexKey}}',
          next: new Promise((resolve,reject) => {
              {% include "src/default/macros/block-next.js.njk" %}
          })
        });
        {% endif %}
        
        {% include "src/default/macros/block-modules.js.njk" %}
        
        {% if context.transform.return %}
          resolve({type:'return',value: {{context.transform.return | safe}}});
        {% elseif context.next and context.transform.operation!=='wait-for-next'%}
          {% include "src/default/macros/block-next.js.njk" %}
        {% elseif not context.next%}
          resolve();
        {% endif %}
      }
      catch(error){
        reject(error);
      }
    });
  }

  Object.freeze(this);
}

{% include "src/default/macros/block-footer.js.njk" %}