{% include "src/default/macros/block-header.js.njk" %}

export default function Block(context){

  {% include "src/default/macros/block-body-header.js.njk" %}

  this.run= function (){
      
    const args=Array.from(arguments);

    return new Promise(async (resolve,reject)=>{            
        {% include "src/default/macros/block-run-header.js.njk" %}

        {% include "src/default/macros/page.js.njk" %}
        
        const raise = {{context.transform.raise | safe}};

        reject(new Error(raise?.message||raise||"Unknown error"));
    });
  }

  Object.freeze(this);
}

{% include "src/default/macros/block-footer.js.njk" %}