{% if context.next %}

  // NEXT : {{context.next.indexKey}}
  {% if context.next.definition.dynamic %}
    const { default: {{context.next.codeKey}} } = await import("./{{context.next.codeKey}}");
  {% endif %}


return resolve ({
    type: 'block',
    from: _this,
    fromType: _this.constructor,
    fromClosure: c,
    toType:{{context.next.codeKey}},
    {% if context.transform.nextArgs %}
    withArgs: {{context.transform.nextArgs | safe}},
    {% endif %}
});

{% endif %}