{% for child in childs %}

  {% if child.module===true%}

    // MODULE : {{child.indexKey}}
    {% if child.definition.dynamic %}
      const { default: {{child.codeKey}} } = await import("./{{child.codeKey}}");
    {% endif %}

    m['{{child.name}}']=async function(){
      const entry=new {{child.codeKey}}({engine,flow,parent:_this,caller:c,module:true});
      const nextBlock=await entry.run.apply(entry,arguments);

      if(nextBlock?.type==='return') return nextBlock.value;
      else if(nextBlock?.type==='block') {
        {% if workflow.parent.context.atom.doc.features.print_module_final_next %}
          console.log('MODULE FINAL NEXT:',nextBlock);
        {% endif %}
        resolve(nextBlock);
      }
    }
    
    {% if child.context.transform.export %}
      flow.setModule({{child.context.transform.export | safe}}, m['{{child.name}}']);
    {% endif %}

  {% endif %}

{% endfor%}